@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*<div id="content">

<input type="text" id="myInput" value="Mickey Mouse" />

</div>
<buttton id="set-text" onclick="setText();">Set Text</buttton>
<buttton id="set-html" onclick="setHtml();">Set Html</buttton>
<buttton id="set-value" onclick="setValue();">Set Value</buttton>

@section Scripts{
    <script>
        $(document).ready(function () {
            sayHello();
        });
    </script>
 }
    *@